.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  font-size: 10px;

  .square h1 {
    color: #fff;
  }
  .example-full-width {
    width: 50%;
  }
}
